.drop-down{
  display: inline-block;
  width:150px;
  .drop-down-body {
    display: none;
    width: 100%;

  }
  .drop-down-but {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
  }
}